# virtual env
venv/
ourenv/
env/

# env file
.env

# python cache
__pycache__/
*.pyc

# database
db.sqlite3
# OS
.DS_Store




# Python cache
__pycache__/
*.pyc

# Virtual environment
ourenv/
venv/
env/

# Django
db.sqlite3

# OS
.DS_Store

