<!DOCTYPE html>
<html>
<head>
    <title>Ajouter Colis</title>
</head>
<body>

<h2>Ajouter un colis à l’expédition {{ expedition.tracking }}</h2>

<form method="post">
    {% csrf_token %}

    <label>ID Colis:</label><br>
    <input type="text" name="id_colis" required><br><br>

    <label>Poids:</label><br>
    <input type="number" step="0.01" name="poids" required><br><br>

    <label>Volume:</label><br>
    <input type="number" step="0.01" name="volume" required><br><br>

    <label>Description:</label><br>
    <textarea name="description"></textarea><br><br>

    <button type="submit">Ajouter</button>
</form>

<br>
<a href="{% url 'expedition_detail' expedition.tracking %}">
    Retour à l’expédition
</a>

</body>
</html>
