{% extends 'core/base.html' %}

{% block title %}Journal des paiements{% endblock %}

{% block content %}
<h1>Journal des paiements</h1>

<div style="display: flex; gap: 10px; margin-bottom: 15px;">
    <a href="{% url 'create_paiement' %}" class="btn btn-add">Ajouter un paiement</a>
    <button type="button" class="btn btn-filter" onclick="toggleFilters()">Filtrer</button>
</div>

<!-- FILTRES -->
<form method="get" id="filtersBox" style="display: none; margin-bottom: 15px;">
    <div style="display: flex; gap: 10px; flex-wrap: wrap; align-items: center;">
        <select name="client" style="padding: 4px;">
            <option value="" disabled {% if not request.GET.client %}selected{% endif %}>Choisir un client</option>
            {% for c in clients %}
                <option value="{{ c.id_client }}" {% if request.GET.client == c.id_client|stringformat:"s" %}selected{% endif %}>
                    {{ c }}
                </option>
            {% endfor %}
        </select>

        <select name="mode_paiement" style="padding: 4px;">
        <option value="" disabled {% if not request.GET.mode_paiement %}selected{% endif %}>Mode de paiement</option>
            {% for value, label in modes %}
             <option value="{{ value }}" {% if request.GET.mode_paiement == value %}selected{% endif %}>
            {{ label }}
             </option>
    {% endfor %}
    </select>

        <input type="date" name="date_debut" value="{{ request.GET.date_debut }}" style="padding: 4px;">
        <input type="date" name="date_fin" value="{{ request.GET.date_fin }}" style="padding: 4px;">

        <button type="submit" class="btn btn-edit">Appliquer</button>
        <a href="{% url 'journal_paiements' %}" class="btn btn-cancel">Réinitialiser</a>
    </div>
</form>

<table>
    <thead>
        <tr>
            <th>ID Paiement</th>
            <th>Date</th>
            <th>Client</th>
            <th>Montant</th>
            <th>Mode</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for paiement in paiements %}
        <tr>
            <td>{{ paiement.id_paiement }}</td>
            <td>{{ paiement.date_paiement }}</td>
            <td>{{ paiement.client }}</td>
            <td>{{ paiement.montant_paiement }} DA</td>
            <td>{{ paiement.mode_paiement }}</td>
            <td>
                <a href="{% url 'detail_paiement' paiement.id_paiement %}" class="btn btn-edit">Détail</a>
                    {% csrf_token %}                </form>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">Aucun paiement trouvé.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
function toggleFilters() {
    const box = document.getElementById('filtersBox');
    box.style.display = box.style.display === 'none' ? 'block' : 'none';
}
</script>
{% endblock %}
