{% extends 'core/base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="btn btn-add">
        Sauvegarder
    </button>

    {% if paiement %}
        <a href="{% url 'delete_paiement' paiement.id_paiement %}"
           class="btn btn-delete"
           onclick="return confirm('Supprimer ce paiement ?');">
            Supprimer
        </a>
    {% endif %}

    <a href="{% url 'journal_paiements' %}" class="btn btn-edit">
        Annuler
    </a>
</form>
{% endblock %}
